In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_csv('../artifacts/data_ingestion/texts.csv')

In [6]:
df = df.sample(frac=1, random_state=42, ignore_index=True,)

In [7]:
df

                                                   text  generated
0     Automobiles have been used as the average use ...          0
1     The University education is not only for prepa...          1
2     The purpose of a university education is often...          1
3     I believe that the university education has mu...          1
4     Could you imagine what it would be like if we ...          0
...                                                 ...        ...
5411  I think the university education has a variety...          1
5412  The university education is not only meant to ...          1
5413  Some people think the university education is ...          1
5414  I believe that the university education has a ...          1
5415  The Electoral College is a process that should...          0

[5416 rows x 2 columns]

In [3]:
df_train, df_test = train_test_split(df, test_size=0.2)

In [4]:
df_train

                                                   text  generated
5351  There are a variety of opinions on what the pr...          1
4695  I think the university education has a variety...          1
387   Over the past years massive car usage has incr...          0
4496  There are a variety of opinions on what the ma...          1
5340  There are a number of different opinions on wh...          1
...                                                 ...        ...
2206  I believe that the university education has mu...          1
4505  There are many people who think that universit...          1
5148  There are many people who think that universit...          1
2715  There are many different opinions on what the ...          1
1511  There are many different opinions on what the ...          1

[4332 rows x 2 columns]

In [6]:
df_test

                                                   text  generated
3409  The University education is not only for prepa...          1
4359  The university education has many purposes, bu...          1
3203  The university education is not only meant to ...          1
4799  There is no one-size-fits-all answer to this q...          1
3881  Some people think the university education is ...          1
...                                                 ...        ...
677   imagine a world, twenty or so years from now, ...          0
1407  The purpose of a university education is not j...          1
582   The electoral college should be thrown out and...          0
4236  Some people think the university education is ...          1
179   You get pearly on November 6, 2012 ready to vo...          0

[1084 rows x 2 columns]

In [8]:
df_valid, df_test = train_test_split(df_test, random_state=42, test_size=0.5)

In [9]:
df_valid

                                                   text  generated
4314  There are many different opinions on the unive...          1
4529  I believe that the university education has a ...          1
1357  Millions of people use cars in their everyday ...          0
5343  There are many different opinions on what the ...          1
1568  I believe that the university education has mu...          1
...                                                 ...        ...
822   As we get older we want to travel to more plac...          0
4959  The university education is not just for prepa...          1
5197  There are a variety of opinions on what the pr...          1
1784  I think the university education has a variety...          1
4116  There are many people who believe that the mai...          1

[542 rows x 2 columns]

In [1]:
s = "artifacts/data_transformation/validation_texts.csv"

In [2]:
s.split("/")

['artifacts', 'data_transformation', 'validation_texts.csv']

In [1]:
s = '5.5'
d = float(s)

In [2]:
type(d)

float

In [3]:
d

5.5